:root {
    --primary-color: #34353A;   /* Dark gray */
    --secondary-color: #E8B765;  /* Light brown */
    --background-color: #FCFCFC; /* Off-white */
    --third-color: #3D3E42;
}
*{
    box-sizing: border-box;
    margin: auto;
}
body{
  background-color: #34353A;
}

/* navbar started */
#navbar{
  background-color: #e8b86523;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%; /* Navbar ko full width par stretch karna */
  z-index: 1000;
}
.logo{
  font-size: 2rem;
}
/* navbar ended */
/* header started */
#header{
  display: flex;
  justify-content:space-around;
  gap: 60px;
  margin-top: 60px;
  width: 100%;
}
/* header ended */
/* hover started */
.hover-link:hover{
 color: var(--primary-color);
}
.hover-link {
  position: relative;
  text-decoration: none;
}

.hover-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.hover-link:hover::after {
  background-color: var(--secondary-color); /* Yaad rahe, aap is color ko apne design ke hisab se badal sakte hain */
}
/* hover ended */
#header-box{
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  display: flex;
}
.img-div{
  width: 55%;
  display: flex;

}
.header-paragraph{
      font-size: 4rem;
      display: inline;
      margin-left: 20px;
      
}
#header-image{
  margin-top: 20px;
  width: 100%;
  filter: grayscale(100%);
  
}
#paragraph-div{
  padding-top: 17%;
  width: 45%;
  margin-left: 20px;
}

.header-second-paragraph{
  font-size: 2rem;
  margin-left: 20px;
  animation: slide-left 2s ease-out forwards;
  transform: translateX(-50%);
}
@keyframes slide-left {
  0% {
    transform: translateY(50px); /* Initial position upar se 50px neeche */
    opacity: 0; /* Initial opacity 0 */
  }
  100% {
    transform: translateY(0); /* Final position */
    opacity: 1; /* Final opacity 1 */
  }
}
.heading-name {
  font-size: 5rem;
  color: #E8B765;
  font-family: sans-serif;
  display: inline;
  animation: slide-in 2s ease-out forwards;
  position: absolute;
  transform: translateX(-50%); /* Center me align kiya gaya hai */
}

@keyframes slide-in {
  0% {
    transform: translateY(-50px); /* Initial position upar se 50px neeche */
    opacity: 0; /* Initial opacity 0 */
  }
  100% {
    transform: translateY(0); /* Final position */
    opacity: 1; /* Final opacity 1 */
  }
}


.header-button {
  border: 2px solid #E8B765;
  border-radius: 5px;
  color: #E8B765;
  padding: 5px 10px;
  background-color: transparent;
  margin-left: 20px;
}

.header-button:hover {
  background-color: #E8B765;
  color: #34353A;
}

#header-contact-link{
  
  width: 5px;
  height: 10px;
}

/* about started */

#about-line{
  background-color: transparent;
  border-top: 4px solid var(--secondary-color);
  width: 600px;
  margin-top: 10px;
}
.about-paragraph{
  font-size: 1.3rem;
  word-spacing: 5px;
  font-weight: lighter;
  display: inline;
}
/* about ended */



/* skill section started */
.skill-sections{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 20px;
 margin-bottom: 50px;
 margin-top: 10px;
}

.skill-box{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
  padding: 30px 50px 10px 50px;
background-color: var(--third-color);
border: none;
border-radius: 5px;
transform: translateX(-50%);
animation: slide-in 2s ease-out forwards;
transition: all 0.3s ease;
}

.skill-box:hover {
  transform: scale(1.1);
  background-color: var(--secondary-color);
}

.skills-logo{
  width: 80px;
}

.tech-box-1{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 20px 30px 20px 30px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}
.tech-box-2{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 20px 35px 20px 35px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}
.tech-box-3{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 20px 35px 20px 35px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}
.tech-box-4{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 20px 40px 20px 40px;
background-color:var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}
.tech-box-5{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 10px 30px 10px 30px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}
.tech-box-6{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 10px 30px 10px 30px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}
.tech-box-7{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 20px 40px 20px 40px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}
.tech-box-8{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 20px 35px 20px 35px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}
.tech-box-9{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 20px 30px 20px 30px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}

.tech-box-hover:hover {
  transform: scale(1.1);
  background-color: var(--secondary-color);
}
.other-box{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center */
  align-items: center;
padding: 50px 50px 50px 50px;
background-color: var(--third-color);
transition: all 0.3s ease;
border-radius: 5px;
}

.other-box:hover {
  transform: scale(1.1);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


/* Keyframes for animation */
@keyframes boxAnimation {
  0% { transform: translateY(-100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/* Apply animation to the boxes */
.tech-box:nth-child(1) {
  animation: boxAnimation 0.5s ease 0.5s forwards;
}

.tech-box:nth-child(2) {
  animation: boxAnimation 0.5s ease 1s forwards;
}

.tech-box:nth-child(3) {
  animation: boxAnimation 0.5s ease 1.5s forwards;
}

.tech-logo{
  font-size: 3rem;
}




/* skill section ended */









      /* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .logo{
    font-size: 1.5rem;
  }
  .header-paragraph{
    font-size: 1rem;
    display: inline;
    margin-left: 10px;
}

.header-second-paragraph{
  font-size: 0.5rem;
  margin-left: 10px;
  animation: slide-left 2s ease-out forwards;
  transform: translateX(-50%);
}

.heading-name {
  font-size: 1.5rem;
  color: #E8B765;
  font-family: sans-serif;
  display: inline;
  animation: slide-in 2s ease-out forwards;
  position: absolute;
  transform: translateX(-50%); /* Center me align kiya gaya hai */
}

.header-button {
  border: 1px solid #E8B765;
  border-radius: 5px;
  color: #E8B765;
  padding: 3px 7px;
  background-color: transparent;
  margin-left: 10px;
  font-size: xx-small;
}

/* about started */

#about-line{
  background-color: transparent;
  border-top: 4px solid var(--secondary-color);
  width: 600px;
  margin-top: 10px;
}
.about-paragraph{
  font-size: 0.8rem;
  word-spacing: 3px;
  font-weight: lighter;
  display: inline;
  font-weight: 50;
}
.about-heading{
  font-size: larger;
}
/* about ended */

}
      
      /* Media query for screens between 576px and 799px */
@media (min-width: 576px) and (max-width: 799px) {
  .header-paragraph{
    font-size: 2rem;
    display: inline;
    margin-left: 14px;
}

.header-second-paragraph{
  font-size: 1rem;
  margin-left: 14px;
  animation: slide-left 2s ease-out forwards;
  transform: translateX(-50%);
}

.heading-name {
  font-size: 3rem;
  color: #E8B765;
  font-family: sans-serif;
  display: inline;
  animation: slide-in 2s ease-out forwards;
  position: absolute;
  transform: translateX(-50%); /* Center me align kiya gaya hai */
}

.header-button {
  border: 1px solid #E8B765;
  border-radius: 5px;
  color: #E8B765;
  padding: 3px 8px;
  background-color: transparent;
  margin-left: 14px;
}
}
      
      /* Media query for screens between 800px and 1199px */
@media (min-width: 800px) and (max-width: 1199px) {
  .header-paragraph{
    font-size: 3rem;
    display: inline;
    margin-left: 18px;   
}

.header-second-paragraph{
  font-size: 1.5rem;
  margin-left: 18px;
  animation: slide-left 2s ease-out forwards;
  transform: translateX(-50%);
}

.heading-name {
  font-size: 4rem;
  color: #E8B765;
  font-family: sans-serif;
  display: inline;
  animation: slide-in 2s ease-out forwards;
  position: absolute;
  transform: translateX(-50%); /* Center me align kiya gaya hai */
}

.header-button {
  border: 2px solid #E8B765;
  border-radius: 5px;
  color: #E8B765;
  padding: 4px 9px;
  background-color: transparent;
  margin-left: 20px;
}

}
      
      /* Media query for screens larger than or equal to 1200px */
@media (min-width: 1200px) {
  .header-paragraph{
    font-size: 4rem;
    display: inline;
    margin-left: 20px;   
}

.header-second-paragraph{
  font-size: 2rem;
  margin-left: 20px;
  animation: slide-left 2s ease-out forwards;
  transform: translateX(-50%);
}

.heading-name {
  font-size: 5rem;
  color: #E8B765;
  font-family: sans-serif;
  display: inline;
  animation: slide-in 2s ease-out forwards;
  position: absolute;
  transform: translateX(-50%); /* Center me align kiya gaya hai */
}

.header-button {
  border: 2px solid #E8B765;
  border-radius: 5px;
  color: #E8B765;
  padding: 5px 10px;
  background-color: transparent;
  margin-left: 20px;
}
}


